---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import Heading from '@/components/Heading.astro';
import { sortPostsByDate } from '@/utils/data.util';

const { title } = AppConfig;
const { description } = AppConfig;

const postModules = (import.meta as any).glob('./*.md', { eager: true }) as Record<string, any>;
const allPosts = Object.values(postModules) as any[];
allPosts.sort(sortPostsByDate);

const posts_to_show = allPosts.filter((post) => {
    const today = new Date();
    const pubDate = new Date(post.frontmatter.pubDate);
    return pubDate <= today && post.frontmatter.show === true;
})

---

<Base head={{ title, description }}>
	<Section><Heading title="Posts" /></Section>
	<Section>
		{
			posts_to_show.map((post: any) => (
				<div class="mb-4 basis-1 last:mb-0">
					<Card post={post} />
				</div>
			))
		}
	</Section>
</Base>
