---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Tags from '@/components/Tags.astro';
import Heading from '@/components/Heading.astro';

const { title } = AppConfig;
const { description } = AppConfig;

const postModules = (import.meta as any).glob('../posts/*.{md,mdx}', { eager: true }) as Record<string, any>;
const allPosts = Object.values(postModules) as any[];

const allTags: Set<string> = new Set(
    allPosts
        .filter(post => post.frontmatter.show) // Filter posts where show is true
        .map(post => post.frontmatter.tags)    // Extract tags
        .flat()                                // Flatten the array of tags
);
---

<Base head={{ title, description }}>
	<Section><Heading title="Tags" /></Section>
	<div class="mx-auto w-full max-w-screen-md">
		<Tags tags={[...allTags]} withHref={true} />
	</div>
</Base>
