---
import Section from './Section.astro';

// const year = new Date();
---

<!-- <Section>
	<footer class="text-center">
		© {year.getFullYear()} - <a class="underline hover:text-orange-600" href="/imprint/">Imprint</a> - made with
		♥️ by <a class="underline hover:text-orange-600" href="http://nicdun.dev" target="_blank">nicdun.dev</a> 
	</footer>
</Section> -->
<Section>
	<footer class="text-light py-4" id="contacts">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<h5 class="mb-3">Contacts and Links</h5>
					<ul class="list-unstyled">
						<li>
							<a href="https://www.github.com/PeithonKing" target="_blank">
								<i class="bi bi-github me-3"></i> GitHub
							</a>
						</li>
						<li>
							<a href="mailto:amukherjeeniser@gmail.com" target="_blank">
								<i class="bi bi-envelope me-3"></i> amukherjeeniser@gmail.com
							</a>
						</li>
						<li>
							<a href="https://goo.gl/maps/3U32GCUq12TWHSbr7" target="_blank">
								<i class="bi bi-geo-alt me-3"></i> NISER Bhubaneshwar, Odisha, India
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</Section>
